.feed {
  /*like in the sidebar, connected to the paren in the app.css display-flex. this time will get 0.6 part of the screen*/
  flex: 0.6;
  margin: 0 20px;
}
.feed__inputContainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/*feed input with the search bar*/
.feed__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
}

.feed__input > form {
    display: flex;
    width: 100%;

}

/*the input itself*/
.feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}


/*submit button will be inivisible and once you press enter you submit what you wrote on the feed*/
.feed__input > form > button {
  display: none;
}


.feed__inputOptions {
  /*icons to be in a row*/
  display: flex;
  /*icons to be spaced*/
  justify-content: space-evenly;
}